name: CppCheck code linter

on:
  push:
    branches: [ 'master', 'main', 'release/**' ]
  pull_request:
    branches: [ '*' ]

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Update repo
        run: |
          sudo apt-get update
          sudo apt install -y cppcheck

      - name: Run cppcheck
        run: |
          make cppcheck
