Name: Linux interop tests


on:
  push:
    branches: [ 'master', 'main', 'release/**' ]
  pull_request:
    branches: [ '*' ]

jobs:
  unit_test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Update repo
        run: |
          sudo apt-get update
          sudo apt-get install -y libwolfssl-dev
          sudo modprobe tun

      - name: Build linux tests
        run: |
          mkdir -p build/port
          make

      - name: Run unit tests
        run: make unit

      - name: Run standalone tests
        run: |
          sudo ./build/test-evloop
          sudo ./build/test-wolfssl
          ./build/test-wolfssl-forwarding
          ./build/test-ttl-expired

