name: Linux interop tests

on:
  push:
    branches: [ 'master', 'main', 'release/**' ]
  pull_request:
    branches: [ '*' ]

jobs:
  linux_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Update repo
        run: |
          sudo apt-get update
          sudo apt-get install -y libwolfssl-dev
          sudo modprobe tun

      - name: Build linux tests
        run: |
          mkdir -p build/port
          make

      - name: Run standalone "event loop" test
        run: |
          sudo ./build/test-evloop
          sudo killall tcpdump || true

      - name: Run standalone wolfssl test
        run: |
          sudo ./build/test-wolfssl
          sudo killall tcpdump || true

      - name: Run standalone forwarding test
        run: |
          sudo ./build/test-wolfssl-forwarding

      - name: Run standalone TTL expired test
        run: |
          ./build/test-ttl-expired

      - name: Install check
        run: |
          sudo apt-get install -y check

      - name: Build unit tests
        run: |
          make unit

      - name: Run unit tests
        run: |
          build/test/unit

